[Unit]
Description=ResourceD Agent

[Service]
User=root
Environment=RESOURCED_CONFIG_DIR=/go/src/github.com/resourced/resourced/tests/data/resourced-configs
ExecStart=/go/bin/resourced
ExecReload=/bin/kill -s HUP $MAINPID
Restart=on-abort

[Install]
WantedBy=multi-user.target